<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="form-container">
        <h1>Lista de Usuários</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Data de Cadastro</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id_usuario }}</td>
                        <td>{{ user.nome }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.data_cadastro }}</td>
                        <td>
                            <a href="{{ url_for('edit_user', id=user.id_usuario) }}" class="btn-action">Editar</a>
                            <a href="{{ url_for('delete_user', id=user.id_usuario) }}" class="btn-action">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ url_for('add_user') }}" class="btn">Adicionar Novo Usuário</a>
        <a href="{{ url_for('gerar_pdf') }}" class="btn">Gerar PDF</a>
    </div>
</body>
</html>

